/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: white;
	-fx-padding: 10;
}

.button {	   
	-fx-background-color: aliceblue;
	-fx-background-radius: 0;
}

.title {
	-fx-font-weight: bold;
	-fx-font-size: 2.5em;
}

.title-small {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;	
}

.italic {
	-fx-font-style: italic;
}

.button:hover {
	-fx-background-color: skyblue;
}

.button:pressed {
	-fx-background-color: royalblue;
}
